@{
    ViewBag.Title = "Create a New Color";
    ViewBag.Message = "Please enter colors in HTML hexadecimal format: #AABBCC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Message</h5>

@using (Html.BeginForm())
{


    <h5><b> First Color </b></h5>
    @Html.TextBox("priColor", null, htmlAttributes: new { @class = "form-control", placeholder = "#000000", required = "required", pattern = "#[0-9a-fA-F]{6}" })

    <h5><b> Second Color </b></h5>
    @Html.TextBox("secColor", null, htmlAttributes: new { @class = "form-control",  placeholder = "#000000", required = "required", pattern = "#[0-9a-fA-F]{6}" })
    <br>
    <button class="btn btn-primary" type="submit" name="mixColors">Mix Colors</button>
    <br>
    <br>
    <div class="container">
        <div id="row">
            <div class="col-sm-3" style="@ViewBag.colorLeft"></div>

            <div class="col-sm-3" style="text-align: center; font-size:30px; line-height: 80px; width: 80px; height: 80px;">@ViewBag.plus</div>

            <div class="col-sm-3" style="@ViewBag.colorRight"></div>

            <div class="col-sm-3" style="text-align: center; font-size:30px; line-height: 80px; width: 80px; height: 80px;">@ViewBag.equal</div>

            <div class="col-sm-3" style="@ViewBag.colorMixed"></div>
        </div>
    </div>
}