@model IEnumerable<worldWideImport.Models.ViewModels.PersonVM>

<style>
    .detailCon {
        border-style: groove;
        padding-left: 15px;
        padding-right: 10px;
        padding-bottom: 5px;
        border-left-color: red;
        border-right-color: powderblue;
        border-bottom-color: sandybrown;
        border-top-color: darkslateblue;
        background-color: powderblue;
    }
    .FullName{
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

</style>
<body>
    <!-- This will div holds all the information-->
    <div class="container">
        <!-- First Row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- This will make a box filled with the information -->
                <div class="col-md-6 detailCon">

                    <!-- Displays the person information -->
                    <h4 class="FullName"> @Html.DisplayFor(modelItem => item.FullName) </h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            Preferred Name:
                            <br />
                            Phone:
                            <br />
                            Fax:
                            <br />
                            Email:
                            <br />
                            Member Since:
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(modelItem => item.PreferredName)
                            <br />
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                            <br />
                            @Html.DisplayFor(modelItem => item.FaxNumber)
                            <br />
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                            <br />
                            @item.ValidFrom.Date.ToString("MM/yyyy")
                        </div>
                    </div>
                </div>
                <!-- Photo placeholder -->
                <div class="col-md-6"> <img src="../../Images/vaultBoy.jpg" alt="Photo" width="220px" height="190px"/></div>
            }
        </div>
        <!-- this will only show if person is a customer -->
        @if (ViewBag.MoreInfo == true)
        {

        <br />
        <div class="row">

            @foreach (var item in Model)
            {
                <!-- This will show the Company information -->
                if (item.CompanyName != null || item.CompanyName != "")
                {
                    <div class="col-md-6 detailCon">

                        <h4 class="FullName"> Company Profile </h4>
                        <hr />

                        <div class="col-md-4">
                            Company:
                            <br />
                            Phone:
                            <br />
                            Fax:
                            <br />
                            Website:
                            <br />
                            Member Since:
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(modelItem => item.CompanyName)
                            <br />
                            @Html.DisplayFor(modelItem => item.CompanyPhone)
                            <br />
                            @Html.DisplayFor(modelItem => item.CompanyFax)
                            <br />
                            @Html.DisplayFor(modelItem => item.CompanyWebsite)
                            <br />
                            @item.CompanyValidFrom.Date.ToString("MM/yyyy")
                        </div>
                    </div>
                }
            }
        </div>
        <br />
        <div class="row">

            @foreach (var item in Model)
            { 
                <!-- This will show the purchase history -->
                if (item.CompanyName != null || item.CompanyName != "")
                {
                    <div class="col-md-6 detailCon">

                        <h4 class="FullName"> Purchase History Summary </h4>
                        <hr />

                        <div class="col-md-4">
                            Orders:
                            <br />
                            Gross Sales:
                            <br />
                            Gross Profit:
                            <br />
                        </div>
                        <div class="col-md-4">
                            @string.Format("{0:C}", item.Orders)
                            <br />
                            @string.Format("{0:C}", item.GrossSales)
                            <br />
                            @string.Format("{0:C}", item.GrossProfit)
                            <br />
                        </div>
                    </div>
                }
            }
        </div>

        <br />
        <div class="row">

                <div class="col-md-6 detailCon">
                    <h4 class="FullName"> Item Purchased (10 Highest by Profit) </h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <!-- This will display the table of top 10 products-->
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemPurchaseList.FirstOrDefault().StockItemID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemPurchaseList.FirstOrDefault().ItemDescription)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemPurchaseList.FirstOrDefault().LineProfit)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ItemPurchaseList.FirstOrDefault().SalesPerson)
                                    </th>
                                </tr>

                                @foreach (var item in Model.FirstOrDefault().ItemPurchaseList)
                                {
                                 <tr>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.StockItemID)
                                 </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.ItemDescription)
                                 </td>
                                 <td>
                                    @string.Format("{0:C}", item.LineProfit)
                                 </td>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.SalesPerson)
                                 </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        <br />
        }
    </div>

</body>